{% extends "organization/read_base.html" %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('Pending Change') }}</h2>

  {% if change_request  %}
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Audit ID</th>
        <th>State</th>
      </tr>
      </thead>
    {% for change in change_request %}
      <tbody>
      {% snippet 'snippets/change_request_item.html', change_request=change %}
      </tbody>
    {% endfor %}
    </table>
  {% else %}
    <p class="empty">{{ _('There is no current change request associated with this organization') }}</p>
  {% endif %}

{% endblock %}
