{% ckan_extends %}

{% block head_extras -%}
  {{ super() }}
  <link rel="alternate" type="application/json" href="/api/action/package_show?id={{ c.pkg_dict['name'] }}"/>
  <link rel="alternate" type="application/json" href="{{ h.get_ec_api_metadata_link('dataset', c.pkg_dict) }}"/>
{% endblock -%}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_change_requests', _('Pending Changes'), dataset_name=pkg.name) }}
{% endblock %}
