{% ckan_extends %}

{% set pending_resources = h.get_pending_files_for_dataset(pkg) %}
{% block resource_list %}
  {{ super() }}
  {% if pending_resources %}

  <h4>Pending Operations on Resources</h4>
  <ul class="resource-list">
    {% for pending_resource in pending_resources %}
    <li class="resource-item" id="pending-{{ loop.index }}">
      <a class="heading" href="{%  url_for controller='ckanext.glasgow.controllers.request_status:RequestStatusController', action='get_status', request_id=pending_resource.value.request_id %}">{{ pending_resource.value.data_dict.name }}
      [{{ pending_resource.task_type.replace('file_request_', '') }}]
        <span class="format-label" data-format="pending" property="dc:format"></span>
      </a>
      <p class="description">{{ pending_resource.value.data_dict.description }}</p>
      <div class="dropdown btn-group">
      <a class="btn btn-primary" href="{%  url_for controller='ckanext.glasgow.controllers.request_status:RequestStatusController', action='get_status', request_id=pending_resource.value.request_id %}">
        <i class="icon-share-alt"></i> Check Request 
      </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
