{% extends "page.html" %}

{% block subtitle %}{{ _('API Authorization Token') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">API Authorization Token</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% if msg %}
        <div class="alert">{{ msg }}</div>
      {% endif %}

      {% if error %}
        <div class="error-explanation alert alert-error">{{ error }}</div>
      {% endif %}

      <p>While full integration with WAAD is not in place, this allows you to provide
        an auth token to be used in all API requests to the CTPEC API.</p>

      <p>Please paste here the full authorization token:</p>

      <form action="" method="POST">

      <textarea name="token" rows=10 style="height: auto; width: 500px"></textarea>

      <div><button class="btn btn-primary" type="submit" name="save">Save</button></div>
      </form>
      
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
